[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "databases>=0.9.0",
    "dotenv>=0.9.9",
    "fastmcp>=2.13.2",
    "mcp>=1.23.3",
    "pydantic>=2.12.5",
    "python-dotenv>=1.2.1",
]
